@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:wght@500&display=swap');

:root {
    --text: #FFFFFF;
    --primary: #09090B;
    --secondary: #27272A;
    --muted: #939393;
    --bs-body-bg: var(--secondary);
}

body {
    font-family: "Reddit Sans", serif;
    background-color: var(--primary);
    color: var(--text);
}

/* .item {
    background-color: var(--secondary);
    color: var(--text);
    border-radius: 0.5rem !important;
    padding: 10px;
    margin: 5px;
    border: none;
}

.item:hover {
    background-color: #3A3A3E;
    color: var(--text);
}

.breadcrumb-item {
    color: var(--text) !important;
} */