{% extends "base.html" %}
{% block crumbs %}
<li class="breadcrumb-item active">Home</li>
{% endblock crumbs %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- <h1 class="mb-4"></h1> -->
        <h4>Select a Subject</h4>
        <div class="list-group">
            <a href="/maths" class="item list-group-item list-group-item-action">Mathematics</a>
            <a href="/physics" class="item list-group-item list-group-item-action">Physics</a>
            <a href="/chemistry" class="item list-group-item list-group-item-action">Chemistry</a>
        </div>
    </div>
</div>
{% endblock %}